<%= form_for(@box, class: "form-horizontal") do |f| %>
  <% if @box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
      <% @box.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :volume %>
    <%= f.number_field :volume, placeholder: "in liters", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
