<h1>Listing boxes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Volume (in liters)</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @boxes.each do |box| %>
      <tr>
        <td><%= box.name %></td>
        <td><%= box.volume %></td>
        <td>
          <%= link_to 'Show', box %>&nbsp;
          <%= link_to 'Edit', edit_box_path(box) %>&nbsp;
          <%= link_to 'Destroy', box, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Box', new_box_path, class: 'btn btn-primary' %>
